<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/Lab_Website/resources/css/projects.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <nav class="navbar text-light bg-dark" id="navbar">
      <a href="index.html">Home</a>
      <a href="hobbies.html">Hobbies</a>
      <a href="projects.html">Projects</a>
      <a href="resume.html">Resume</a>
      <div class="float-right">
          <a class="navbar-brand" href="#">
              <img src="/Lab_Website/resources/img/favicon.ico" alt="Bootstrap" width="30" height="30">
          </a>
      </div>
    </nav>
  </head>
  <body>
    <div class="container text-center" id="hobbies">
        <h2>Interests</h2>
        <div class="row d-flex justify-content-center">
            <div class="card" style="width: 18rem;" id="hobby-card-1">
                <img class="card-img-top" src="/Lab_Website/resources/img/simpleGaming.jpg" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">Gaming</h5>
                  <p class="card-text">I enjoy playing videogames and watching eSports. The person above is S1mple, the greatest player to ever touch the game of Counter-Strike</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;" id="hobby-card-2">
                <img class="card-img-top" src="/Lab_Website/resources/img/snowboarder.png" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">Snowboarding</h5>
                    <p class="card-text">I started Snowboarding in the winter of 2021. I recently broke my wrist going off of a jump and catching the nose of the board in the snow when I landed.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;" id="hobby-card-3">
                <img class="card-img-top" src="/Lab_Website/resources/img/running.jpg" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">Running</h5>
                  <p class="card-text">I recently picked up running as a hobby. It is a very fun activity to do with friends. I enjoy long distances as well as trying to run shorter distances as fast as possible.</p>
                </div>
            </div>
        </div>
    </div>
  </body>
  <footer class="text-center bg-white"  id="footer">
    <div>
        <a href="http://twitter.com/brysonsmith25" class="me-4 link-secondary">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/bryson-smith25/" class="me-4 link-secondary">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/brsm3129" class="me-4 link-secondary">
          <i class="fab fa-github"></i>
        </a>
      </div>
  </div>
</html>