<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/Lab_Website/resources/css/projects.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <nav class="navbar text-light bg-dark" id="navbar">
      <a href="index.html">Home</a>
      <a href="hobbies.html">Hobbies</a>
      <a href="projects.html">Projects</a>
      <a href="resume.html">Resume</a>
      <div class="float-right">
          <a class="navbar-brand" href="#">
              <img src="/Lab_Website/resources/img/favicon.ico" alt="Bootstrap" width="30" height="30">
          </a>
      </div>
    </nav>
  </head>
  <body>
    <div id="resume" class="container">
      <h2>Bryson Smith</h2>
      <table class="highlight">
        <thead>
          <tr>
            <th>Education</th>
            <th>GPA</th>
            <th>Years</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>University of Colorado Boulder</td>
            <td>3.9</td>
            <td>2021-2025</td>
          </tr>
          <tr>
            <td>Keller High School</td>
            <td>101</td>
            <td>2017-2021</td>
          </tr>
          <tr></tr>
        </tbody>
      </table>

      <table class="highlight">
        <thead>
          <tr>
            <th>Relevent Courses</th>
            <th>Grade</th>
            <th>Semester</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Principles of Programming Languages</td>
            <td>N/A</td>
            <td>Spring 2022</td>
          </tr>
          <tr>
            <td>Introduction to Artificial Intelligence</td>
            <td>N/A</td>
            <td>Spring 2022</td>
          </tr>
          <tr>
            <td>Algorithms</td>
            <td>A</td>
            <td>Fall 2022</td>
          </tr>
          <tr>
            <td>Linear Algebra</td>
            <td>A</td>
            <td>Fall 2022</td>
          </tr>
          <tr>
            <td>Computer Systems</td>
            <td>A-</td>
            <td>Spring 2022</td>
          </tr>
          <tr>
            <td>Data Structures</td>
            <td>A</td>
            <td>Fall 2021</td>
          </tr> 
          
          <tr></tr>
        </tbody>
      </table>

      <table class="highlight">
        <thead>
          <tr>
            <th>Experience</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <b>University of Colorado Boulder-ITLL</b>
              <br>Utilizing C#.NET MVC, JavaScript and Bootstrap to actively develop a website for live
              production used by student body. <a href="https://itll.colorado.edu/"> ITLPoint</a> 
            </td>
            <td>Jan 2022-Present</td>
          </tr>
          <tr>
            <td>
              <b>Papa Johns</b>
              <br>Worked with team to help ensure on-time pizza delivery in high-volume store.</td>
            <td>May 2021-Aug 2021</td>
          </tr>
          <tr></tr>
        </tbody>
      </table>
    </div>
  </body>
  <footer class="text-center bg-white"  id="footer">
    <div>
        <a href="http://twitter.com/brysonsmith25" class="me-4 link-secondary">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/bryson-smith25/" class="me-4 link-secondary">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/brsm3129" class="me-4 link-secondary">
          <i class="fab fa-github"></i>
        </a>
      </div>
  </div>
</html>